body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  background: #7f8cff;
}

h1 {
  margin: 1em 0 2em 0;
  padding: 0;
  font-size: 4em;
  color: #333333;
}

.main-index {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.box {
  margin: 2em;
  position: relative;
  box-sizing: border-box;
  width: 15em;
  text-align: center;
  border-radius: 0.5em;
  background: linear-gradient(#ffff00, #2eaa28);
  transition: 0.3s;
}

.box__text {
  padding: 1em;
  position: absolute;
  background: #8e8e8e;
  border-radius: 0.5em;
  color: #ffe900;
  opacity: 0;
  font-weight: 600;
  transition: 1s;
  transition-delay: 0.3s;
  z-index: 1;
}

.box__vowel, .box__consonant {
  margin: 0;
  padding: 0;
  font-size: 5em;
}

.box__vowel {
  color: #de0000;
}

.box__consonant {
  color: blue;
}

.box__img, .box__img-bus, .box__img-dog, .box__img-frog, .box__img-horse {
  position: relative;
  display: flex;
  cursor: pointer;
}

.box__img {
  flex-flow: row;
}

.box__img-bus, .box__img-dog, .box__img-frog, .box__img-horse {
  justify-content: center;
}

.box__img img {
  width: 50%;
}

.box__img-bus img {
  width: 65%;
}

.box__img-dog img {
  width: 47%;
}

.box__img-frog img {
  width: 55%;
}

.box__img-horse img {
  width: 70%;
}

.box p {
  padding-bottom: 1em;
}

.box span {
  padding: 0.7em;
  font-weight: 600;
}

.box__vowel:hover, .box__consonant:hover {
  cursor: pointer;
}

.box:hover .box__text {
  opacity: 0.97;
  transform: translateY(16.5em);
}