body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  background: #8577ff;
}

h1 {
  margin: 1em 0 2em 0;
  padding: 0;
  font-size: 4em;
  color: #333333;
}

.main-index {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.box {
  margin: 2em;
  position: relative;
  box-sizing: border-box;
  width: 15em;
  text-align: center;
  border-radius: 0.5em;
  background: linear-gradient(#ffff00, #2eaa28);
  transition: 0.3s;
}

.box__text {
  padding: 1em;
  position: absolute;
  background: #8e8e8e;
  border-radius: 0.5em;
  color: #ffe900;
  opacity: 0;
  font-weight: 600;
  transition: 1s;
  transition-delay: 0.3s;
  z-index: 1;
}

.box__vowel, .box__consonant {
  margin: 0;
  padding: 0;
  font-size: 5em;
}

.box__vowel {
  color: #de0000;
}

.box__consonant {
  color: blue;
}

.box__img, .box__img-bus, .box__img-dog, .box__img-frog,
.box__img-horse, .box__img-jam, .box__img-kangaroo,
.box__img-lemon, .box__img-mouse, .box__img-nut,
.box__img-pig, .box__img-queen, .box__img-rocket,
.box__img-snake, .box__img-telephone, .box__img-vase,
.box__img-window, .box__img-fox, .box__img-yellow,
.box__img-zebra {
  position: relative;
  display: flex;
  cursor: pointer;
}

.box__img, .box__img-yellow {
  flex-flow: row;
}

.box__img-yellow {
  margin-top: 2.5em;
}

.box__img-bus, .box__img-dog, .box__img-frog, .box__img-horse,
.box__img-jam, .box__img-kangaroo, .box__img-lemon, .box__img-mouse,
.box__img-nut, .box__img-pig, .box__img-queen, .box__img-rocket,
.box__img-snake, .box__img-telephone, .box__img-vase,
.box__img-window, .box__img-fox, .box__img-zebra {
  justify-content: center;
}

.box__img img {
  width: 50%;
}

.box__img-bus img {
  width: 65%;
}

.box__img-dog img {
  width: 47%;
}

.box__img-frog img {
  width: 55%;
}

.box__img-horse img {
  width: 70%;
}

.box__img-jam img {
  width: 38%;
}

.box__img-kangaroo img {
  width: 42%;
}

.box__img-lemon img {
  width: 47%;
}

.box__img-mouse img {
  width: 48%;
}

.box__img-nut img {
  width: 53%;
}

.box__img-pig img {
  width: 60%;
}

.box__img-queen img {
  width: 62%;
}

.box__img-rocket img {
  width: 52%;
}

.box__img-snake img {
  width: 44%;
}

.box__img-telephone img {
  width: 88%;
}

.box__img-vase img {
  width: 31%;
}

.box__img-window img {
  width: 40%;
}

.box__img-fox img {
  width: 45%;
}

.box__img-yellow img {
  width: 33%;
}

.box__img-zebra img {
  width: 45%;
}

.box p {
  padding-bottom: 1em;
}

.box span {
  padding: 0.35em;
  font-size: 0.9em;
  font-weight: 600;
}

.box__vowel:hover, .box__consonant:hover {
  cursor: pointer;
}

.box:hover .box__text {
  opacity: 0.97;
  transform: translateY(16.5em);
}